<section class="row text-light py-5">
    <div class="col-12 col-md-6 g-2">
        <a
            class="d-block p-5 text-decoration-none text-light fw-bolder fs-4 bg-success"
            href="index.php?action=team_login"
            >Team Space</a
        >
    </div>
    <div class="col-12 col-md-6 g-2">
        <a
            class="d-block p-5 text-decoration-none text-light fw-bolder fs-4 bg-success"
            href="index.php?action=login_admin_layout"
            >Admin Space</a
        >
    </div>
</section>
