<header class="bg-dark">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark container">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">E-Presentation</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.php?action=team_homepage">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?action=upload">Upload files</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?action=evaluation_result">Results</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?action=messages">Notifications</a>
                    </li>
                </ul>
                <div>
                    <a class="text-danger btn btn-warning" href="index.php?action=team_sign_out">Sign out</a>
                </div>
            </div>
        </div>
    </nav>
</header>
